%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title nhk news
  %body
    %h1 nhk new app
    %iframe
    %script{:src => "jquery.js"}
    %script{:src => "index.js"}
